<div id="eval-table-info" class="uk-modal">
  <div class="uk-modal-dialog uk-text-justify">
    <a class="uk-modal-close uk-close"></a>
    <h2>Pontozási táblázat</h2>
    <h3>Pontozás</h3>
    <div>
      Beírt adatok automatikusan mentődnek, az üres mezők pedig nullának számítanak. Cellák között a billentyűzet nyilaival is lehet navigálni.
    </div>
    <h3>Pontozási elvek</h3>
    <div>
      Egyes pontozási elvekre kattintva egy összesítő ablak jelenik meg benne a pontozási elv leírásával, illetve ki és hány pontot kapott az adott elvre.
    </div>
    <h3>Tagok elrejtése</h3>
    <div>
      A tagok neve mellett található szem ikonnal lehetséges egyes tagok elrejtése. Ez csak a táblázat könyebb átláthatóságát segíti, semmiben nem befolyásolja a pontozást. Az elrejtett tagokat a jobb felső sarokban található gombbal lehet megtekinteni, illetve megjeleníteni. Ez piros színűvé válik, ha vannak elrejtett felhasználók. A rejtett tagok aktuális állapota böngészőben tárolódik.
    </div>
    <h3>Megjegyzések</h3>
    <div>
      Amennyiben egy cellához tartoznak megjegyzések, azt egy kis hármoszög jelzi a jobb felső sarokban. Duplán kattintva egy cellára megjelennek a hozzátartozó megjegyzések a jobb alsó fülön. Itt lehet új, illetve további megjegyzést hozzáfűzni az adott cellához. Ezek mindig a szövegbuborékkal jelzett mezőre vonatkoznak.
    </div>
  </div>
</div>
