<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

<div id="example-table"></div>
<div id="evaluation-table-url" style="display: none"><%= "groups/#{current_group.id}/evaluations/#{current_evaluation.id}/table_data.json" %></div>