<ul class="uk-comment-list">
  <% @evaluation_messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</ul>

<div class="uk-width-expand uk-text-center uk-margin-top">
  <%= paginate @evaluation_messages %>
</div>
