<% stylesheet 'admin' %>

<div id="content-main" class="group-container">
  <div class="uk-responsive-width">
    <h1 class="uk-h1">
      <%= @evaluation.group.name %>
      <span class="uk-text-muted"> - <%= Semester.new(@evaluation.semester).to_readable %></span>
    </h1>
    <div class="uk-container-center uk-panel uk-panel-box">

      <h2>Bírálat</h2>
      <%= render 'form', evaluation: @evaluation %>

    </div>
  </div>
</div>
