<li class="uk-panel-box">
  <article class="uk-comment">
    <header class="uk-comment-header">
      <h4 class="uk-comment-title uk-margin-remove"><%= message.sender_user_name %></h4>
      <div class="uk-comment-meta"><%= message.sent_at %></div>
    </header>
    <div class="uk-comment-body"><%= message.message %></div>
  </article>
</li>
