<h2>Profilkép</h2>

<div class="uk-margin-large-top uk-margin" id="image-upload-container">
  <%= form_tag photo_raw_path, multipart: true, class: 'uk-form uk-margin-remove' do %>
    <div class="uk-clearfix">
      <div class="uk-float-left">
        <%= file_field_tag 'rawPhoto' %>
      </div>
      <div class="uk-float-right">
        <input class="uk-button" type="submit" value="Feltöltés" name="submitButton"/>

        <%= link_to('Szerkesztés', edit_photo_path(current_user.screen_name),
          class: 'uk-align-right uk-button') %>
      </div>
    </div>
  <% end %>
</div>
