<h2>Profilkép</h2>

<div class="uk-margin-large-top uk-margin" id="image-upload-container">
  <%= form_tag photo_raw_path, multipart: true, class: 'uk-form uk-margin-remove' do %>
    <div class="uk-grid uk-grid-small">
      <div class="uk-width-1-1 uk-width-medium-1-2">
        <%= file_field_tag 'rawPhoto' %>
      </div>
      <div class="uk-width-1-1 uk-width-medium-1-4 uk-margin-small-bottom">
        <input class="uk-button uk-width-1-1" type="submit" value="Feltöltés" name="submitButton"/>
      </div>
      <div class="uk-width-1-1 uk-width-medium-1-4 uk-margin-small-bottom">
        <%= link_to('Szerkesztés', edit_photo_path(current_user.screen_name),
          class: 'uk-align-right uk-button uk-width-1-1') %>
      </div>
    </div>
  <% end %>
</div>
