<div id="content-main" class="neutral-content">
  <div class="uk-container-center uk-panel uk-panel-box uk-margin-large-top">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-text-large uk-text-center uk-margin">
        Üdvözlünk a megújult PéK bejelentkező oldalán!
      </div>
      <div class="uk-width-medium-2-3 uk-text-center uk-container-center">
        Örömmel köszöntünk a megújult PéK alkalmazás oldalán. Hosszú és
        gyümölcsöző folyamatot tudhatunk magunk mögött, melynek eredménye ez az
        oldal. Viszont mivel nem vagyunk tökéletesek, így lehetnek benne elvétve
        hibák, ezeket a <a href="mailto:hello@kir-dev.hu">hello[kukac]kir-dev.hu</a> levelelező listán
        tudod jelezni felénk.
      </div>
      <div class="uk-width-medium-2-3 uk-text-center uk-container-center uk-text-small uk-margin">
          (Ezen felül ha kedvet kaptál a webfejlesztéshez a <a href="mailto:hello@kir-dev.hu">hello[kukac]kir-dev.hu</a> címen jelentkezhetsz csapatunkba.)
      </div>
      <div class="uk-width-1-1">
        <%= button_to "Bejelentkezés", oauth_login_path, class:"uk-button uk-button-large uk-button-primary uk-width-medium-1-4 uk-align-center uk-width-1-1" %>
      </div>
    </div>
  </div>
</div>
