version: '3'
services:
  redis:
    image: redis:5
    restart: always
    networks:
      - pek_staging_network
  postgres:
    build:
      context: .
      dockerfile: PostgresDockerfile
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    env_file:
      - .env
    volumes:
      - database_folder:/var/lib/postgresql/data/pgdata
    restart: always
    networks:
      - pek_staging_network
  sidekiq:
    build: .
    command: bundle exec sidekiq
    environment:
      - REDIS_URL=redis://redis:6379
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    networks:
      - pek_staging_network
  web:
    build: .
    command: sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    environment:
      - RAILS_SERVE_STATIC_FILES=true
      - RAILS_ENV=staging
      - DATABASE_USER=postgres
      - DATABASE_NAME=pek-next
      - DATABASE_HOST=postgres
    restart: always
    env_file:
      - .env
    volumes:
      - uploads_folder:/pek-next/public/uploads
    ports:
      - "4443:3000"
    networks:
      - pek_staging_network
    depends_on:
      - postgres
      - redis
networks:
  pek_staging_network:

# Add your volumes

volumes:
  uploads_folder:
    external:
      name: pek_staging_uploads_2
  database_folder:
    external:
      name: pek_staging_database_2
