<% groups.each do |group| %>
  <div class="search-result result-group">
    <div> <%= link_to group.name, group_path(group.id), class: 'result-name' %> </div>
    <div class="result-group-desc"> <%= group.description %> </div>
  </div>
<% end %>
<% users.each do |user| %>
  <div class="search-result result-user">
    <div> <%= link_to user.compact_name, profile_path(user.screen_name), class: 'result-name' %> </div>
    <div class="result-user-nick"> <%= user.room %> </div>
  </div>
<% end %>
