<% results.each do |user| %>
  <tr>
    <td> <%= link_to (user.usr_lastname || "") + " " + (user.usr_firstname || ""), profile_path(user.usr_id) %> </td>
    <td> <%= user.usr_nickname %> </td>
  </tr>
<% end %>
