<div id="content-main" class="search-container">
  <div class="uk-height-viewport uk-responsive-width">
    <h1 class="uk-h1">Találatok</h1>
    <div class="uk-container-center uk-panel uk-panel-box">
      <div class="uk-grid uk-flex-middle uk-width-1-1 uk-padding-remove uk-margin-remove">
        <li id="suggestions" class="uk-width-1-1 uk-padding-remove uk-list-divider">
        </li>
      </div>

      <a id="show-more" class="uk-button uk-margin-top uk-align-center">Többi megjelenítése</a>
      <p id="no-more" class="uk-hidden uk-margin-top uk-align-center">Nincs több találat</p>
    </div>
  </div>
</div>
