
<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      <th>Név</th>
      <th>Becenév</th>
    </tr>
  </thead>
  <tbody id="suggestions">
  </tbody>
</table>

<a id="show-more">Többi megjelenítése</a>
<p id="no-more" class="hidden">Nincs több találat</p>
