
<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
    <tr>
      <th>Név</th>
      <th>Becenév</th>
    </tr>
  </thead>
  <tbody id="suggestions">
  </tbody>
  <tfoot>
    <tr>
      <td><a href="#">Többi megjelenítése</a></td>
    </tr>
  </tfoot>
</table>
