<div id="content-main" class="search-container">
  <div id="suggestions">
  </div>

  <a id="show-more" class="uk-button uk-margin-left">Többi megjelenítése</a>
  <p id="no-more" class="hidden uk-margin-left">Nincs több találat</p>
</div>
