<% stylesheet 'profile' %>

<div id="content-main" class="neutral-container">
  <div class="uk-height-viewport uk-responsive-width">
    <h1 class="uk-h1">Elsődleges kör beállítás</h1>
    <div class="uk-container-center uk-panel uk-panel-box">

      <div class="uk-width-medium-1-3 uk-width-1-1 uk-text-center">
        SVIE tagság típusa: <%= t current_user.svie_member_type %>
      </div>
      <%= form_tag svie_update_path, name: 'membershipform', class: 'uk-form uk-margin-top' do %>
      <div class="uk-grid">
        <div class="uk-width-medium-1-3 uk-width-1-1 uk-text-center">
          SVIE köreid:
        </div>
        <div class="uk-width-medium-2-3 uk-width-1-1 uk-text-center">
          <!-- Form name should always be given: https://stackoverflow.com/questions/4831848/firefox-ignores-option-selected-selected -->
          <%= select :svie, :primary_membership, @svie_memberships.map { |m| [m.group.name, m.id] },
            selected: current_user.svie_primary_membership %>
        </div>
        <div class="uk-width-1-4 uk-margin uk-align-center">
          <%= submit_tag 'Mentés', class: 'uk-button uk-width-expand' %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
