<% stylesheet 'admin' %>

<div class="uk-height-viewport uk-responsive-width">
  <h1 class="uk-h1">SVIE-be jelentkezett felhasználók</h1>
  <div class="uk-container-center uk-panel uk-panel-box">
    <ul class="uk-list uk-width-1-1 uk-width-large-1-2 uk-container-center">
      <% @not_svie_members.each do |user| %>
      <li class="uk-margin">
        <div class="uk-panel uk-panel-box dark">
          <div class="uk-width-1-1 uk-panel-body uk-padding-remove uk-grid">
            <div class="uk-width-1-2 uk-width-small-2-5">
              <%= link_to user.full_name, profile_path(user.screen_name),
                class: "uk-text-primary" %>
            </div>
            <div class="uk-width-1-2 uk-width-small-2-5">
              <%= user.svie_state %>
            </div>
            <div class="uk-width-1-1 uk-width-small-1-5 uk-text-center">
              <%= button_to "Elfogadás", svie_approve_path(user.id), method: :post,
                class: "uk-button uk-button-success", remote: false %>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
