<% stylesheet 'profile' %>

<div id="content-main" class="neutral-container">
  <div class="uk-height-viewport uk-responsive-width">
    <h1 class="uk-h1">Jelentkezés leadása</h1>
    <div class="uk-container-center uk-panel uk-panel-box">
      <h2 class="uk-h2"><%= current_user.full_name %></h2>

      <p>A regisztrációs folyamat befejezéséhez a lent letölthető kérvényt aláírva el kell juttatni a 1719-es gazdasági irodába. Figyeljetek arra oda, hogy a megadott adataitok ne tartalmazzanak hibát, valamint a tanuk is legyenek kitöltve.</p>

      <p>A papírok leadása után az Reszortvezetők Tanácsa adminisztrálni fogja az Egyesületi tagságot a rendszerben.</p>

      <p>További információkat a tagsággal kapcsolatban a https://svie.hu/ weboldalra feltöltött dokumentumok között találhatsz.</p>

      <%= button_to "Kérvény letöltése", svie_pdf_path, method: :get, class: "uk-button uk-button-success uk-align-center"%>
      <%= button_to "Vissza", root_path, method: :get, class: "uk-button uk-align-center"%>
    </div>
  </div>
</div>
