<p>
  <%= render "svie/pdf/personal_data", user: @user %>
  jelen nyilatkozat aláírásával kifejezem belépési szándékom a Schönherzes Villamosmérnökök és
  Informatikusok Egyesületébe (székhely: 1115 Budapest, Bartók Béla út 152/H- Kelen Irodaház,
  fszt./a., továbbiakban Egyesület). Kijelentem, hogy az Egyesületbe rendes tagként kívánok belépni. Az
  elsődleges köröm, melyet a pek.sch.bme.hu-n adtam meg: <b><%= @user.primary_membership.group.name %></b>
</p>

<p>A Budapesti Műszaki Egyetem Villamosmérnöki és Informatikai Karának nappali tagozatos hallgatója
  vagyok, egyben tagsággal bírok (vagy tagságomat kérvényeztem) egy, a Schönherz Kollégiumban
  működő Egyesületi Körben.</p>

<p>E tagsági minőséggel kapcsolatos jogaimat, illetve kötelezettségeimet megismertem. Tudomásul
  veszem, hogy a fönt említett jogviszony megszűnése után (vagy az igazolás elmulasztása esetén) az</p>

<p>Egyesület Reszortvezetők Tanácsa (továbbiakban RVT) rendes tagságomat automatikusan külső
  taggá, továbbá amennyiben az Egyesületi Kör, melyben tagsággal bírok, megszűnik, és egyidejűleg
  más Egyesületi Körhöz nem tartozom, öreg taggá minősíti.</p>

<p>Tudomásul veszem, hogy kizárólag egy Egyesületi Körben regisztrálhatom magamat szavazatra
  jogosult rendes tagként, küldöttválasztás során kizárólag egy Egyesületi Kör tekintetében rendelkezem
  szavazati jogosultsággal.</p>

<p>Az Egyesület Alapszabályát magamra nézve kötelezőnek ismerem el, azt betartom.</p>

<p>Kijelentem, hogy sem jogszabályban, sem az Egyesület Alapszabályában meghatározott kizáró ok
  velem szemben nem áll fenn.</p>

<p>Tudomásul veszem, hogy jelen belépési nyilatkozat aláírásán kívül az Egyesületbe való belépésem
  érvényességi feltétele az RVT jóváhagyó döntése. Tudomásul veszem, hogy az Egyesületbe történő
  belépésem az RVT döntését követően a jóváhagyás időpontjában befizetett tagsági díj megfizetésével
  válik hatályossá, a vonatkozó jogszabályokat, és az Egyesület alapszabályában biztosított jogaimat
  ezen időponttól gyakorolhatom.</p>

<p>Egyúttal hozzájárulok, hogy jelen nyilatkozatban megadott adataimat az Egyesület, működésének
  keretein belül szabadon felhasználhatja, azokat kezelheti.</p>
