<h1 class="text-center">Tagfelvételi kérelem <br> öreg tagsághoz</h1>
<p>
  <%= render "svie/pdf/personal_data", user: user %>
  jelen nyilatkozat aláírásával kifejezem belépési szándékom a Schönherzes Villamosmérnökök és
  Informatikusok Egyesületébe (székhely: 1115 Budapest, Bartók Béla út 152/H- Kelen Irodaház,
  fszt./a., továbbiakban Egyesület). Kijelentem, hogy az Egyesületbe rendes tagként kívánok belépni. Az
  elsődleges köröm, melyet a vir.sch.bme.hu-n adtam meg:
</p>

<p>Kijelentem és csatolt dokumentummal bizonyítom, hogy korábban a Budapesti Műszaki és
  Gazdaságtudományi Egyetem Villamosmérnöki és Informatikai Karán, vagy annak valamely
  jogelődjén hallgatói jogviszonnyal rendelkeztem.</p>

<p>E tagsági minőséggel kapcsolatos jogaimat, illetve kötelezettségeimet megismertem.
  Az Egyesület Alapszabályát és Szervezeti Működési Szabályzatát magamra nézve kötelezőnek
  ismerem el, azt betartom.
</p>

<p>Kijelentem, hogy sem jogszabályban, sem az Egyesület Alapszabályában meghatározott kizáró ok
  velem szemben nem áll fenn.
</p>

<p>Tudomásul veszem, hogy jelen belépési nyilatkozat aláírásán kívül az Egyesületbe való belépésem
  érvényességi feltétele az Egyesület Reszort Vezetők Tanácsának (továbbiakban RVT) jóváhagyó
  döntése. Tudomásul veszem, hogy az Egyesületbe történő belépésem az RVT döntését követően a
  jóváhagyás időpontjától válik hatályossá, a vonatkozó jogszabályokat, és az Egyesület
  alapszabályában biztosított jogaimat ezen időponttól gyakorolhatom.
</p>

<p>Egyúttal hozzájárulok, hogy jelen nyilatkozatban megadott adataimat az Egyesület, működésének
  keretein belül szabadon felhasználhatja, azokat kezelheti.
</p>
