<h1 class="text-center">Kilépési nyilatkozat</h1>

<p>
  <%= render "svie/pdf/personal_data", user: user %>
  jelen nyilatkozat aláírásával a Schönherzes Villamosmérnökök és Informatikusok Egyesületéből
  (székhely: 1115 Budapest, Bartók Béla út 152/H- Kelen Irodaház, fszt./a., továbbiakban Egyesület).</p>

<p>Alapszabályát figyelembe véve felelősségem teljes tudatában kijelentem, hogy saját elhatározásból
  tagságomat megszűntetem, az Egyesületből kilépek.</p>

<p>Vállalom, hogy tagsági viszonyom bármely módon való megszűnése előtt köteles vagyok az Egyesület
  felé az anyagi és tárgyi eszközök tekintetében elszámolni, valamint tagi és vállalt kötelezettségeim
  esetleges késedelme esetén azokat haladéktalanul teljesíteni.</p>

<p>Kijelentem, hogy az Egyesület felé követeléseim nincsenek.</p>
