<h1 class="text-center">Tagfelvételi kérelem <br> külső tagsághoz</h1>

<p>
  <%= render "svie/pdf/personal_data", user: user %>
  jelen nyilatkozat aláírásával kifejezem belépési szándékom a Schönherzes Villamosmérnökök és
  Informatikusok Egyesületébe (székhely: 1115 Budapest, Bartók Béla út 152/H- Kelen Irodaház,
  fszt./a., továbbiakban Egyesület). Kijelentem, hogy az Egyesületbe külső tagként kívánok belépni.
</p>
<p>Tagsággal bírok (vagy tagságomat kérvényeztem) egy, a Schönherz Kollégiumban működő Egyesületi
  Körben.</p>

<p>E tagsági minőséggel kapcsolatos jogaimat, illetve kötelezettségeimet megismertem. Tudomásul
  veszem, hogy amennyiben az Egyesületi Kör, melyben tagsággal bírok, megszűnik és egyidejűleg más
  Egyesületi Körhöz nem csatlakozom, az Egyesület Reszort Vezetők Tanácsa (továbbiakban RVT)
  külső tagságomat automatikusan öreg taggá minősíti.</p>

<p>Az Egyesület Alapszabályát és Szervezeti Működési Szabályzatát magamra nézve kötelezőnek
  ismerem el, azt betartom.</p>

<p>Kijelentem, hogy sem jogszabályban, sem az Egyesület Alapszabályában meghatározott kizáró ok
  velem szemben nem áll fenn.</p>

<p>Tudomásul veszem, hogy jelen belépési nyilatkozat aláírásán kívül az Egyesületbe való belépésem
  érvényességi feltétele az RVT jóváhagyó döntése. Tudomásul veszem, hogy az Egyesületbe történő
  belépésem az RVT döntését követően a jóváhagyás időpontjában befizetett tagsági díj megfizetésével
  válik hatályossá, a vonatkozó jogszabályokat, és az Egyesület alapszabályában biztosított jogaimat
  ezen időponttól gyakorolhatom.</p>

<p>Egyúttal hozzájárulok, hogy jelen nyilatkozatban megadott adataimat az Egyesület, működésének
  keretein belül szabadon felhasználhatja, azokat kezelheti.</p>