<% if list? %>

  <ul class="uk-list uk-list-striped uk-margin-large-bottom uk-width-1-1">
    <% archived_users(@viewmodel.group) do |member| %>
      <%= render 'group_member_list_item', member: member %>
    <% end %>
  </ul>

<% else %>

  <div class="uk-grid uk-width-1-1 uk-margin-large-bottom" id="archived_users_grid" data-uk-grid="{gutter: 20}">
    <% archived_users(@viewmodel.group) do |member| %>
      <%= render 'group_member_grid_item', member: member %>
    <% end %>
  </div>

<% end %>

<div id="archived_users_paginate">
  <%= paginate @archived_users, param_name: 'archived_users_page' %>
</div>
