<li class="uk-panel-box uk-grid uk-grid-collapse dark group-search group-result hover uk-padding-remove" onclick="window.location='<%= group_path(group.id) %>'">
  <div style="width:80px;">
    <%= image_tag "/img/circle.jpg", class: 'uk-thumbnail' %>
  </div>
  <div class="uk-padding-small" style="width:calc(100% - 100px)">
    <div>
      <%= link_to group.name, group_path(group.id), class: 'uk-text-large' %>
    </div>
    <div class="uk-text-break">
      <%= group.truncated_description %>
    <div>
  </div>
</li>
