<div id="info" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <h3>Archiválás</h3>
    <div>
      <p>Körtag archiválás a korábbi törlés funkció helyett került bevezetésre. Sok körben elterjedt az a szokás, hogy öreg tagság egy jutalmazás a körtagok számára és felmerült az a probléma, hogy vannak olyan körtagok, akiket nem szeretnének öreggé avatni, de nem is aktívak már, viszont mégis tevékenykedtek a körben. Ennek a megoldására vezettük be az archiválást, mellyel nem kerül be az öreg tagok közé, de nem is veszik el a körös története sem. Az archivált tagok megjelnítését a szerkesztés menüben tudod állítani.</p>
      <p>Arra vigyázz, hogy archiválást csak PéK adminok tudnak visszavonni.</p>
    </div>
  </div>
</div>
