<div id="info" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <h3>Archiválás</h3>
    <div>
      <p>Körtag archiválás a korábbi törlés funkció helyett került bevezetésre.
        Sok körben elterjedt az a szokás, hogy öreg tagság egy jutalmazás a körtagok számára és felmerült az a probléma, hogy vannak olyan körtagok,
        akiket nem szeretnének öreggé avatni, de nem is aktívak már, viszont mégis tevékenykedtek a körben.
        Ennek a megoldására vezettük be az archiválást, mellyel nem kerül be az öreg tagok közé, de nem is veszik el a körös története sem.
        Az archivált tagok megjelnítését a szerkesztés menüben tudod állítani.</p>
      <p>Az archiválást a körvezető vissza is vonhatja.</p>
      <p>Az archivált tagok jelezhetik, hogy szeretnének újra aktív státuszba kerülni.</p>
      <p>A körvezetőnek midig láthatóak az archívált tagok, ezért a kör szerkesztése menüpont alatt az "Archívált tagok láthatóak" beállítás csak a többi felhasználóra vonatkozik.</p>>

    </div>
  </div>
</div>
