<% stylesheet 'groups' %>

<div class="uk-responsive-width uk-margin-large">
  <h1 class="uk-h1">Körök</h1>
  <div class="uk-container-center uk-panel uk-panel-box">
    <p id="notice"><%= notice %></p>

    <%= render 'list', items: @groups %>
    <div class="uk-width-expand uk-text-center uk-margin-top">
      <%= paginate @groups %>
    </div>

  </div>
</div>
