<h1>Munkacsoport szerkesztése</h1>
<div class="uk-panel uk-panel-box">
<%= render 'form', sub_group: @sub_group %>

<div class="uk-margin-top">
  <%= link_to 'Vissza', group_sub_groups_path(current_group), class: 'uk-button uk-margin-right' %>
  <%= link_to 'Megtekintés', group_sub_group_path(current_group, @sub_group), class: 'uk-button uk-button-primary' %>
</div>
</div>