<h1>Új munkacsoport</h1>

<div class="uk-panel uk-panel-box" >
  <%= render 'form', sub_group: @sub_group %>
<br/>
  <%= link_to 'Vissza', group_sub_groups_path(current_group), class: 'uk-margin-large-top' %>
</div>

