<div id="update-modal" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <%= form_tag admin_delegates_update_path, class: 'uk-form uk-form-stacked' do %>
      <h3>Delegáltak módosítása</h3>

      <%= hidden_field_tag :group_id, '', id: 'group-id' %>

      <div class="uk-form-row">
        <label class="uk-form-label" for="delegate_count">Delegáltak száma: </label>
        <%= number_field_tag :delegate_count, '', class: 'uk-form-small', id: 'delegate-count' %>
      </div>
      <div class="uk-form-row uk-margin-top">
        <%= submit_tag 'Mentés', class: 'uk-button' %>
      </div>
    <% end %>
  </div>
</div>
