<h1><%= @membership.user.full_name %> posztjai</h1>

<% @group.post_types.each do |post_type| %>
  <div>
    <input type="checkbox" name="<%= post_type.id %>"
      <%= "checked" if @membership.posts.any? {|post| post.post_type == post_type} %>>
    <%= post_type.name %>
  </div>
<% end %>
