/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require uikit
 *= require cropper.min
 *= require_tree .
 *= require_self
 */

.inline-block {
	display: inline-block;
}

.hidden {
	display: none;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	height: 40px;
	z-index: 1030;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -80px;
}

.search {
	margin-top: 5px;
}

.notification {
	z-index: 1020;
}

.page-wrap:after {
	content: "";
	display: block;
}

html, body {
	height: 100%;
}

.tm-footer, .page-wrap:after {
	height: 80px;
}

.tm-footer {
	background-color: #000;
	font-size: 10px !important;
	color: #fff;
	width: 100%;
	position: absolute;
	letter-spacing: 3px;
}

.tm-footer a {
	color: #fff;
}

.tm-footer a :hover {
	color: #000;
}

.tm-footer p, .tm-footer ul {
	margin: 0;
}
