/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require uikit/font-awesome.min
 *= require uikit/uikit.min
 *= require uikit/components/accordion.min
 *= require uikit/components/datepicker.min
 *= require uikit/components/form-password.min
 *= require uikit/components/form-select.min
 *= require uikit/components/notify.min
 *= require uikit/components/search.min
 *= require uikit/components/sticky.min

 *= require cropper.min
 *= require search
 *= require_self
 */

.notification {
	z-index: 1020;
}

.uk-dropdown {
	background-color: #fff;
}

.uk-dropdown, .uk-panel-box, .uk-notify-message, .shadow {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 4px 1px rgba(0, 0, 0, 0.09) !important;
}

.uk-light {
	color: #fff !important;
}

.uk-padding {
	padding: 10px;
}

.uk-list-divider>li {
	box-shadow: 0 1px 0 #fff;
	margin-bottom: 5px;
	background-color: rgb(245, 245, 245);
}

.uk-list-hover>li:hover, .hover:hover {
	cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 1px rgba(0, 0, 0, 0.19) !important;
}

.dark {
	background-color: #f5f5f5 !important;
}

html, body {
	height: 100%;
	background-color: #f5f5f5;
}

.thumbnail {
	width: 80px;
	height: 80px;
}

.next-to-thumbnail {
	width: calc(100% - 100px);
}

.membership-timer {
	width: 180px;
}

.uk-panel-box {
	background-color: #fff;
}

.uk-navbar {
	background-color: #000;
}

.uk-padding-small {
	padding: 5px;
}

.col-vertical-border {
	border-left: solid 1px #ddd;
}

.uk-navbar-nav>li>a {
	color: #f5f5f5;
}

.profile-picture {
	height: 30px;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -80px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.tm-footer, .page-wrap:after {
	height: 80px;
}

.tm-footer {
	background-color: #000;
	font-size: 10px !important;
	color: #fff;
	width: 100%;
	position: absolute;
	letter-spacing: 3px;
}

.tm-footer a {
	color: #fff;
}

.tm-footer a :hover {
	color: #000;
}

.tm-footer p, .tm-footer ul {
	margin: 0;
}
