/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require uikit
 *= require cropper.min
 *= require_tree .
 *= require_self
 */

html {
	background-color: #f7f7f7;
}

body {
	margin: 0;
}

html, body {
	height: 100%;
}

.navbar {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
}


.uk-navbar {
	border-bottom: 1px solid #dcdcdc;
}
.uk-navbar {
	background: #ffffff;
	height: 64px;
}
.uk-navbar-toggle {
	margin-top: 10px;
}
.uk-navbar-nav > li > a {
	height: 64px;
	padding: 0 15px;
	line-height: 64px;
}
.uk-navbar-brand {
	height: 64px;
}
.uk-dropdown {
	padding: 0;
	top: 64px;
	border-right: 1px solid rgb(220, 220, 220);
	border-bottom: 1px solid rgb(220, 220, 220);
	border-left: 1px solid rgb(220, 220, 220);
}

.uk-dropdown .uk-nav {
	margin: 0px;
}
.page-wrap {
	min-height: 100%;
	margin-bottom: -80px;
}

.search {
	margin-top: 15px;
}

.notification {
	z-index: 1020;
}

.page-wrap:after {
	content: "";
	display: block;
}

.tm-footer, .page-wrap:after {
	height: 80px;
}

.tm-footer {
	background-color: #000;
	font-size: 10px !important;
	color: #fff;
	width: 100%;
	position: absolute;
	letter-spacing: 3px;
}

.tm-footer a {
	color: #fff;
}

.tm-footer a :hover {
	color: #000;
}

.tm-footer p, .tm-footer ul {
	margin: 0;
}

.uk-panel-box {
	padding: 15px;
	background-color: #ffffff;
}

#content-main {
	background-color: #ffffff;
	border: 1px solid #dcdcdc;
	color: #444444;
	box-shadow: rgb(235, 235, 235) 0px 0px 3px 0px;
	padding: 20px;
}

@media all and (min-width:758px) {
	.uk-margin-large {
		margin-top: 90px;
	}
}

.uk-input, uk-textarea, .uk-select {
    width: 90%;
    height: 40px;
    vertical-align: middle;
    padding: 0 5%;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
}