#content-container {
  max-width: 100%;
}

#comment-container {
  min-height: 20vh;
  max-height: 80vh
}

#comment-float {
  position: fixed;
  bottom: 0px;
  right: 0;
  width: 300px;
  min-height: 30px;
  z-index: 100;
}

#comment-float h3 {
  background-color: #607d8b;
  color: #fff;
}

.has-comment {
  position: relative;
}

.has-comment::after{
  content: '';
  position: absolute;
  top: 0.1em;
  right: 0;
  border-color: transparent;
  border-style: solid;
  border-radius: 0.2em;
  border-width: 0.4em;
  border-right-color: #9ccdc8;
  border-top-color: #9ccdc8;
}

.name-column {
  min-width: 150px;
}

#name-list {
  margin-top: 132px;
  width: 150px !important;
  border-right: solid 0px #BDBDBD;
}

#name-list > * {
  height: 20px !important;
}

#name-list-container {
  border-right: 2px solid #BDBDBD;
}

#points-table-container {
  width: calc(100% - 152px);
}

.rotated {
  border-bottom: 1px #E0E0E0 solid;
}

.rotated > tr > * {
  height: 115px;
  white-space: nowrap;
}

.rotated > tr > * > div {
  transform:
    translate(13px, -10px)
    rotate(315deg);
  width: 40px;
}

.rotated > tr > * > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

#points-table > * > tr {
  height: 30px !important;
}

#points-table > * > tr > td {
  width: 40px !important;
  padding: 3px 2px !important;
}

#save-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  border: 5px solid #66BB6A;
  border-top: 5px solid #1B5E20;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
