// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cropper-container {
	max-width: 500px;
	max-height: 500px;
}

img {
	max-width: 100%;
}

.form-label-required::after {
	content: "*";
	padding-left: 3px;
}

.profile-container {
	background-color: rgba(184, 185, 221, 0.8);
}

.uk-panel-box {
	background: none;
}

#profile-picture {
	border-radius: 10px;
	border-color: rgb(185, 186, 230);
	border-width: 8px;
	padding: 0px;
}

.profile-membership {
	margin-top: 8px;
	background-color: rgba(192, 192, 195, 0.8);
	border-radius: 8px;
	padding: 7px 0px 7px 24px;
}

.profile-membership-name {
	font-size: 23px;
	font-weight: bold;
}
