<footer class="uk-hidden-small">
  <div class="tm-footer">
    <div class="uk-container uk-container-center uk-text-center">

      <ul class="uk-subnav uk-subnav-line uk-flex-center">
        <li><a href="https://twitter.com/KirDev" target="_blank" rel="noreferrer">Twitter</a></li>
        <li><a href="https://github.com/kir-dev" target="_blank" rel="noreferrer">Github</a></li>
        <li><a href="https://simonyi.bme.hu" target="_blank" rel="noreferrer">Simonyi</a></li>
        <li><a href="#support-modal" data-uk-modal>Support</a></li>
      </ul>

      <div class="uk-grid">
        <div class="uk-width-1-3"></div>
        <div class="uk-width-1-3">
          <p>Made by <a href="https://kir-dev.sch.bme.hu" target="_blank" rel="noreferrer">Kir-Dev</a></p>
          <img src="/kirdev_bw.png" width="30" height="30" title="Kir-Dev" alt="Kir-Dev">
        </div>
        <div class="uk-width-1-3">
          Thanks support for
          <a href="https://rollbar.com/" target="_blank" rel="noreferrer">
            <img src="/img/rollbar.png" width="80" title="Rollbar" alt="Rollbar">
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>

<div id="support-modal" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <h1>Support</h1>

    <h2>Hibák és észrevételek</h2>
    Ha bármilyen hibát találsz, vagy kérdésed / észrevételed van, esetleg valamilyen fejlesztési ötletet szeretnél elénk
    tárni,
    a <a href="mailto:hello@kir-dev.hu">hello@kir-dev.hu</a> publikus levelező listánkon vedd fel velünk a
    kapcsolatot.
  </div>
</div>
