<footer class="uk-hidden-small">
  <div class="tm-footer">
    <div class="uk-container uk-container-center uk-text-center">

        <ul class="uk-subnav uk-subnav-line uk-flex-center">
          <li><a href="https://twitter.com/KirDev">Twitter</a></li>
          <li><a href="https://github.com/kir-dev">Github</a></li>
          <li><a href="http://simonyi.bme.hu">Simonyi</a></li>
          <li><a href="#support-modal" data-uk-modal>Support</a></li>
        </ul>

        <div class="uk-grid">
          <div class="uk-width-1-3"></div>
          <div class="uk-width-1-3">
            <p>Made by <a href="http://kir-dev.sch.bme.hu">Kir-Dev</a></p>
            <img src="/kirdev_bw.png" width="30" height="30" title="Kir-Dev" alt="Kir-Dev">
          </div>
          <div class="uk-width-1-3">
            Thanks support for
            <a href="https://rollbar.com/">
              <img src="/img/rollbar.png" width="80" title="Rollbar" alt="Rollbar">
            </a>
          </div>
        </div>

    </div>
  </div>
</footer>

<div id="support-modal" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <h1>Support</h1>

    <h2>Hibák</h2>
    Bármilyen hiba esetén, mint pl adminisztrációs hibák, alkalmazás hibák, kérdések, a
    <a href="https://support.sch.bme.hu">support.sch</a>-n keresztül tudod legegyszerűbben felvenni velünk a kapcsolatot,
    vagy a <a href="mailto:kir-dev@sch.bme.hu">publikus levelezőlistánkon</a>.

    <h2>Észrevételek</h2>
    Az észrevételeidet, fejlesztési ötleteidet <a target="_blank" href="https://goo.gl/forms/0pP8bDKAD7jzprPK2">ezen a formon</a>
    tudod nekünk jelezni. Mivel már eddig is rengeteg ilyen kérést kaptunk, nem tudunk mindegyikre külön válaszolni, de
    minden ötletet megvitatunk és ha úgy találjuk felkerül a TODO listánkra.
  </div>
</div>
