<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/own.min.css" />
  <link rel="stylesheet" href="css/components/slideshow.css" />
  <script src="jquery.2.1.4.min.js"></script>
  <script src="uikit.min.js"></script>
  <script src="components/slideshow.min.js"></script>
  <script src="components/slideshow-fx-min.js"></script>
  <title>PekNext</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
