<div class="uk-container-center">
  <div class="uk-panel uk-panel-box">
    <span class="uk-text uk-text-large uk-align-center">Üdvözlünk a megújult
      PékNext! bejelentkező oldalán!</span>
    <%= button_to "Bejelentkezés", '/auth/oauth', class:"uk-button
      uk-button-primary uk-width-1-4 uk-margin-small-bottom uk-align-center" %>
  </div>
</div>
